body{
	background-color: #69b2e4; 
}

div.b{
	display: flex;
	border: 1px solid black;
  	background-color: white;
  	border-bottom-right-radius: 8px;
  	border-bottom-left-radius: 8px;
  	border-top-right-radius: 8px;
  	border-top-left-radius: 8px;
  	padding-top: 40px;
  	padding-right: 30px;
  	padding-bottom: 50px;
  	padding-left: 80px;
  	margin-top: 50px;
  	margin-left: 250px;
  	margin-right: 250px;
}
div.b1{	
	margin-left: 20px;
	margin-top: 100px;
	margin-right: 50px;
}
div.b2{	
	color: #8B8B7A;
	width: 400px;
	margin-left: 30px;
	margin-right: 10px;
}
img{
	width: 180px;	
}
div.c1{
	color: black;
	margin-left: 150px;	
}
div.c2{
	background-color: #E8E8E8;
	border: 1px solid #E8E8E8;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom-right-radius: 20px;
  	border-bottom-left-radius: 20px;
  	border-top-right-radius: 20px;
  	border-top-left-radius: 20px;
}
div.c3{
	background-color: #E8E8E8;
	border: 1px solid #E8E8E8;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom-right-radius: 20px;
  	border-bottom-left-radius: 20px;
  	border-top-right-radius: 20px;
  	border-top-left-radius: 20px;
  	margin-top: 5px;
}
div.c4{
	background-color: #E8E8E8;
	border: 1px solid #E8E8E8;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom-right-radius: 20px;
  	border-bottom-left-radius: 20px;
  	border-top-right-radius: 20px;
  	border-top-left-radius: 20px;
  	margin-top: 5px;
}
div.c5{
	background-color: #E8E8E8;
	border: 20px solid #E8E8E8;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom-right-radius: 20px;
  	border-bottom-left-radius: 20px;
  	border-top-right-radius: 20px;
  	border-top-left-radius: 20px;
  	margin-top: 5px;
}
div.c6{
	color: white;
	background-color: #00CD00;
	border: 1px medium #00CD00;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom-right-radius: 20px;
  	border-bottom-left-radius: 20px;
  	border-top-right-radius: 20px;
  	border-top-left-radius: 20px;
	margin-top: 40px;
	margin-left: 150px;
	margin-right: 145px;
}
